.fade {
    opacity: 1;
    animation-name: zeroToAHundred;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

.fade1 {
    animation-duration: 1s;
}

.fade2 {
    animation-duration: 2s;
}

.fade3 {
    animation-duration: 3s;
}

@keyframes zeroToAHundred {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Page Flex */
html,
body {
    text-align: center;
    height: 100%;
    margin: 0;
}

body {
    font-family: sans-serif;
    color: #ccc;
    background: #000;
}

.split {
    position: fixed;
    left: 0;
    right: 0;
}

.top {
    top: 0;
    height: 75%;
    background-color: #555;
    overflow: scroll;
}

.bottom {
    bottom: 0;
    height: 25%;
    background-color: #222;
}

span {
    /* color: lightgray;
    border: 1px solid #888;
    padding: 5px 5px;
    text-decoration: none; */
    border-radius: 5px;
    cursor: default;
}

.title {
    padding: 20px 20px;
    font-size: 2em;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    color: lightgray;
    border: 1px solid #000;
    background-color: #222;
    text-decoration: none;
    width: 40px;
    height: 40px;
    padding: 5px 5px;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 2em;
}

/* Buttons */
.button-group .button {
    color: lightgray;
    border: 1px solid #888;
    padding: 5px 5px;
    margin-top: 5px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.button-row {
    text-align: center;
    left: 50%;
}

.matched {
    background-color: rgb(0, 150, 0);
}

.button-group .matched:hover {
    background-color: rgb(0, 100, 0);
}

.button-group .matched:active {
    background-color: rgb(0, 180, 0);
    transform: translateY(4px);
}

.contains {
    background-color: rgb(0, 131, 150);
}

.button-group .contains:hover {
    background-color: rgb(0, 101, 115);
}

.button-group .contains:active {
    background-color: rgb(1, 150, 150);
    transform: translateY(4px);
}

.neutral {
    background-color: rgb(100, 100, 100);
    border: 1px solid #888;
}

.button-group .neutral:hover {
    background-color: rgb(80, 80, 80);
}

.button-group .neutral:active {
    background-color: rgb(110, 110, 110);
    transform: translateY(4px);
}

.between-grey {
    background-color: rgb(110, 110, 110);
}

.not-grey {
    background-color: #222;
}